body
{
    font-family:"Verdana", "Times";
    background-color:#faf8f2;
    
}

#container
{
    width:600px;
    height:640px;
    background-color:#e8e5d1;
    background-image:url('pics/coffey.jpg');
    background-repeat:no-repeat;
    margin:auto;
    border:1px solid #bfbfbf;
}

#topbar
{
    background-color:#4f463c;
    text-align:right;
    padding-right:2px;
    font-size:10px;
    line-height:20px;
    font-style:italic;
    color:#e8e5d1;
}

#menu
{
    
    background-color:#4f463c;
    height:35px;
    font-size:70%;
    margin-top:180px;
}

#menu a
{
    display:none;
}

#menu ul a
{
    display:inline-block;
}

#menu li
{
    display:inline;
    text-decoration:none;
}

#menu li a
{
    padding:7px 22px;
    margin:5px -3px;
    text-decoration:none;
    border-left:1px solid #383838;
    background-color:#786f66;
    color:#e8e5d1;
    text-transform:capitalize;
}

#menu ul
{
    margin-left:-27px;
}

#menu a:hover
{
    background-color:#9c9084;
}

#menu .active a
{
    background-color:#e8e5d1;
    color:#786f66;
}

#content
{
    background-color:#e8e5d1;
    width:600px;
    height:390px;
}

#maincontent
{
    background-color:#e8e5d1;
    float:left;
    width:370px;
    font-size:14px;
    margin-top:10px;
    color:#786f66;
    line-height:20px;
}

#maincontent h1
{
    line-height:40px;
}

img
{
    float:left;
    margin: -5px 5px 5px 10px;
}

#subcontent
{
    background-color:#e8e5d1;
    float:right;
    width:229px;
    font-size:9px;
    color:#786f66;
    border-left:1px dashed #bfbfbf;
    margin-top:20px;
}

#subcontent ul
{
    padding-left:10px;
    margin-top:-8px;
    color:#484848;
}

#bottomcontent
{
    background-color:#e8e5d1;
    float:left;
    font-size:10px;
    font-style:italic;
    margin-left:10px;
    color:#786f66;
}

#subcontent h1
{
    font-size:15px;
}

#subcontent p
{
    padding:10px 0px;
    line-height:20px;
}

#subcontent a
{
    color:#4f463c;
}

h1
{
    margin:10px;
    font-family:"Times New Roman";
    font-weight:lighter;
}

h2
{
    color:#4f463c;
    font-weight:lighter;
    font-family:Times;
    margin:10px;
    font-size:14px
}

p
{
    line-height:20px;
    margin:10px;
}

ul
{
    list-style-type:none;
    font-size:13px;
}